In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data=pd.read_csv("Sales_add.csv")

In [5]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [6]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [7]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [9]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [14]:
value_1=data['Sales_before_digital_add(in $)']
value_1.head()

0    132921
1    149559
2    146278
3    152167
4    159525
Name: Sales_before_digital_add(in $), dtype: int64

In [16]:
value_2=data['Sales_After_digital_add(in $)']
value_2.head()

0    270390
1    223334
2    244243
3    231808
4    258402
Name: Sales_After_digital_add(in $), dtype: int64

H0= there is no increase in sales after
stepping into digital marketing


H1=there is  increase in sales after
stepping into digital marketing

In [17]:
from scipy import stats

In [19]:
stats.ttest_ind(value_2,value_1)

Ttest_indResult(statistic=12.995084451110877, pvalue=2.614368006904645e-16)

we reject the null hypothesis ie there is increase in the sales after stepping into digital marketing

In [29]:
from scipy import stats

In [23]:
value_3=data['Region']
value_3.head()

0    Region - A
1    Region - A
2    Region - B
3    Region - B
4    Region - C
Name: Region, dtype: object

In [24]:
value_4=data['Manager']

In [25]:
value_4.head()

0    Manager - A
1    Manager - C
2    Manager - A
3    Manager - B
4    Manager - B
Name: Manager, dtype: object

In [27]:
value_5=pd.crosstab(index=value_3,columns=value_4)

In [28]:
value_5

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [30]:
value_5.iloc[0].values

array([4, 3, 3], dtype=int64)

In [31]:
(chi2, p, df,_)=stats.chi2_contingency(value_5.iloc[0].values,value_5.iloc[1].values)

In [32]:
print("chi2:",chi2)
print("p:",p)
print("df:",df)

chi2: 0.0
p: 1.0
df: 0